/* Подключение шрифтов */
/* Шрифт - Montserrat */
/* latin Normal*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin Bold*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* Шрифт - PT Serif */
/* cyrillic Normal */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url(https://fonts.gstatic.com/s/ptserif/v8/fU0HAfLiPHGlZhZpY6M7dBTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* cyrillic Italic */
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"), url(https://fonts.gstatic.com/s/ptserif/v8/3Nwg9VzlwLXPq3fNKwVRMCEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin Normal */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url(https://fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3ifesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin Italic */
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"), url(https://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* index.html */

body{background: #eaeaea;}

/* Вспомогательные классы(центровщик, + clearfix) */
.container{
    width: 980px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #3b3d40;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}

/* контент */

.main-content{
    margin-top: 50px;
    margin-bottom: 80px;
}

/* Форма */

.preferences{
    width: 230px;
    float: left;
}
/* меню */

.left-menu{
    padding: 0;
    margin: 0;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
.left-menu li{
    position: relative;
    border-bottom: 1px solid #eeeeee;
    list-style: none;
    padding: 5px 21px;
}
.left-menu a{
    font-size: 11px;
    line-height: 40px;
    color: #3b3d40;
    text-decoration: none;
    text-transform: uppercase;
}
.left-menu a:after{
    content: "";
    position: absolute;
    background: url(../img/sprite-menu.png) no-repeat -5px -5px;
    height: 8px;
    width: 8px;
    right: 15px;
    top: 20px;
}
ul.sub-menu{
    margin: -5px -22px;
    padding: 5px;
    background: #838d8f;
}
.sub-menu li{
    border:none;
    height: 17px;
    padding-top: 6px;
}
.sub-menu a{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #daddde;
    text-transform: none;
}
ul.sub-menu a:after{
    background: none;
}
li.opened a:after{
    content: "";
    background: url(../img/sprite-menu.png) no-repeat -23px -5px; 
    height: 8px;
    width: 8px;
}

/* Выбор цвета*/

.colors-block{
    width: 230px;
    height: 175px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 19px;
}
.block-title{
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    padding: 13px 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 26px;
    padding-top: 24px;
}
.colors{
    padding: 0 18px;
}
.colors li{
    display: inline-block;
    vertical-align: baseline;
    list-style: none;
    position: relative;
    padding-left: 2px;
}
.colors label{
    width: 31px;
    height: 31px;
    display: block;
    border-radius: 50%;
    list-style: none;
    cursor: pointer;
    border: 1px solid white;
}
.colors label:hover{
    border: 1px solid black;
    border-radius: 50%;
}
.colors input{
    position: absolute;
    display:none;
}
.colors input[type="checkbox"]:checked + label{
    border: 1px solid black;
    border-radius: 50%;
}
.color-1{
    background: #1476f1;
}
.color-2{
    background: #82d889;
}
.color-3{
    background: #3c3d41;
}
.color-4{
    background: #838d8f;
}
.color-5{
    background: #b8c6c7;
}
.color-6{
    background: #ce954a;
}
.color-7{
    background: #7b7f91;
}
.color-8{
    background: #777777;
}
.color-9{
    background: #bdbdbd;
}
.color-10{
    background: #eeeeee;
}

/* Выбор размера */
.size-block{
    background: #fff;
    width: 230px;
    position: relative;
}
ul.size{
    padding: 0 18px;
    padding-bottom: 22px;
}
.size li{
    list-style: none;
    display: inline-block;
    vertical-align: baseline;
    padding-left: 3px;
}
.size input{   
    position: absolute;
    display: none;
}
.size label{
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    background: #eee;
    font-size: 11px;
}
.size label:hover{
    background: #838d8f;
    color: white;
}
.size label:active{
    background: #838d8f;
    color: white;
}
.size input[type="checkbox"]:checked + label{
    color: white;
    background: #838d8f;
}

/* опция выбора стоимости */

.cost-option{
    background: #fff;
    padding-bottom: 20px;
}
.range-controls{
    position: relative;
    width: 191px;
    height: 9px;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 32px;
}
.scale{
    background: #eee;
    height: 2px;
}
.filled{
    width: 70%;
    height: 2px;
    margin-left: 30px;
    background: #838d8f;
}
.relay{
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #838d8f;
    background: #fff;
    top: 0;
    cursor: pointer;
}
.relay-min{ 
    left: 15px;
}
.relay-max{ 
    left: 156px;
}
.price-controls input{
    border: none;
    width: 40px;
    margin: 0 auto;
}
.max-price{margin-left: 80px;}
.min-price{margin-left: 30px;}
.clothing-catalog{
    width: 750px;
    float: right;
}

/* каталог одежды */

.thing{
    width: 230px;
    height: 300px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 17px;
    margin-bottom: 20px;
    position: relative;
}
.new-item{
    position: absolute;
    background: url("../img/new-item.png") no-repeat;
    width: 39px;
    height: 17px;
    left: 175px;
    top: 20px;
}
.thing img{
    padding-top: 20px;
}
p.thing-title{
    font-size: 15px;
    line-height: 18px;
    width: 150px;
    margin: 0 auto;
    padding-top: 17px;
}
p.thing-description{
    font-family: "PT Ser if", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    font-weight: 400;
    color: #838c8e;
    margin-top: 4px;
}
p.cena{
    margin: 0;
    font-size: 13px;
    line-height: 13px;
}

/* кнопка загрузки контента */
.load-btn{
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: white;
    margin-left: 17px;
    margin-top:20px;
    width: 730px;
    padding: 13px 0;
    border: none;
    outline: none;
    background: #b8c6c7;
    border-radius: 5px;
    cursor: pointer;
}
.load-btn:hover{
    background: #96a2a3;
}
.load-btn:active{
    background: #96a2a3;
}